<a href="https://colab.research.google.com/github/grgfatta86/Pythonpractices/blob/main/chipotal_%26_goal_fatta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

In [11]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [12]:
df_chipotle = pd.read_csv(url, sep='\t')
df_chipotle

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [13]:
## Filtering and sorting

In [14]:
df_chipotle["item_price"] =df_chipotle["item_price"].str.replace('$', '')

<ipython-input-14-b2d26f044e82>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_chipotle["item_price"] =df_chipotle["item_price"].str.replace('$', '')

In [15]:
df_chipotle

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [16]:
df_chipotle["item_price"] = df_chipotle["item_price"].str.replace('$', ' ')
df_chipotle

<ipython-input-16-4a1195693cfa>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_chipotle["item_price"] = df_chipotle["item_price"].str.replace('$', ' ')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [24]:
df_chipotle = pd.read_csv(url, sep='\t')

df_chipotle['item_price'] = df_chipotle['item_price'].str.replace('$', ' ')

df_chipotle['item_price'] = df_chipotle['item_price'].astype(float)

<ipython-input-24-5a62ca9ee059>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_chipotle['item_price'] = df_chipotle['item_price'].str.replace('$', ' ')

In [25]:
df_chipotle

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [26]:
df_chipotle

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [27]:
df_chipotle[df_chipotle.item_price<8]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
6,3,1,Side of Chips,NaN,1.69
...,...,...,...,...,...
4606,1828,1,Canned Soft Drink,[Coke],1.25
4609,1829,1,Canned Soft Drink,[Sprite],1.25
4613,1831,1,Chips,NaN,2.15
4614,1831,1,Bottled Water,NaN,1.50
4616,1832,1,Chips and Guacamole,NaN,4.45

In [28]:
df_chipotle[df_chipotle.item_name == 'Chips']

      order_id  quantity item_name choice_description  item_price
40          19         1     Chips                NaN        2.15
59          27         1     Chips                NaN        2.15
77          34         1     Chips                NaN        2.15
80          35         1     Chips                NaN        2.15
208         92         1     Chips                NaN        2.15
...        ...       ...       ...                ...         ...
4505      1791         1     Chips                NaN        2.15
4509      1793         1     Chips                NaN        1.99
4525      1799         1     Chips                NaN        2.15
4584      1823         1     Chips                NaN        2.15
4613      1831         1     Chips                NaN        2.15

[211 rows x 5 columns]

In [29]:
df_chipotle[(df_chipotle.item_name == 'Chips') & (df_chipotle.item_price>2)]

      order_id  quantity item_name choice_description  item_price
40          19         1     Chips                NaN        2.15
59          27         1     Chips                NaN        2.15
77          34         1     Chips                NaN        2.15
80          35         1     Chips                NaN        2.15
208         92         1     Chips                NaN        2.15
...        ...       ...       ...                ...         ...
4497      1788         1     Chips                NaN        2.15
4505      1791         1     Chips                NaN        2.15
4525      1799         1     Chips                NaN        2.15
4584      1823         1     Chips                NaN        2.15
4613      1831         1     Chips                NaN        2.15

[210 rows x 5 columns]

In [30]:
df_chipotle[(df_chipotle.item_name == 'Chips') | (df_chipotle.item_price > 2)]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [31]:
df_chipotle[(df_chipotle.item_name.str.contains('Drink', na=False))]

      order_id  quantity          item_name choice_description  item_price
263        114         1  Canned Soft Drink             [Coke]        1.25
292        127         1  Canned Soft Drink           [Sprite]        1.25
298        129         1  6 Pack Soft Drink           [Sprite]        6.49
320        139         1  Canned Soft Drink             [Coke]        1.25
337        147         1  Canned Soft Drink             [Coke]        1.25
...        ...       ...                ...                ...         ...
4585      1823         1  Canned Soft Drink        [Diet Coke]        1.25
4597      1826         1  Canned Soft Drink           [Nestea]        1.25
4601      1827         1  Canned Soft Drink        [Diet Coke]        1.25
4606      1828         1  Canned Soft Drink             [Coke]        1.25
4609      1829         1  Canned Soft Drink           [Sprite]        1.25

[355 rows x 5 columns]

In [32]:
df_chipotle[(df_chipotle.choice_description.str.contains('Rice', na=False))]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
...,...,...,...,...,...
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",8.75
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75

  1. Select only the Goal column
  2. How many team participated in the Euro2012?
  3. What is the number of columns in the dataset?
  4. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline
  5. Sort the teams by Red Cards, then to Yellow Cards
  6. Calculate the mean Yellow Cards given per Team
  7. Filter teams that scored more than 6 goals
  8. Select the teams that start with G
  9. Select the first 7 columns
  10. Select all columns except the last 3.
  11. Present only the Shooting Accuracy from England, Italy and Russia

In [34]:
import pandas as pd
euro12 = pd.read_csv('Euro2012TEAM.csv')
euro12

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [36]:
euro12.Goals

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [39]:
euro12.Team.count()

16

In [41]:
euro12.columns,euro12.info

(Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
        'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
        'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
        'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
        'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
        'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
        'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
        'Offsides', 'Yellow Cards', 'Red Cards', 'Subs on', 'Subs off',
        'Players Used'],
       dtype='object'),
 <bound method DataFrame.info of                    Team  Goals  Shots on target  Shots off target  \
 0               Croatia      4               13                12
 1        Czech Republic      4               13                18
 2               Denmark      4               10                10
 3               England      5               11                18
 4                France      3               22                24
 5               Germany     10               32                32
 6                Greece      5                8                18
 7                 Italy      6               34                45
 8           Netherlands      2               12                36
 9                Poland      2               15                23
 10             Portugal      6               22                42
 11  Republic of Ireland      1                7                12
 12               Russia      5                9                31
 13                Spain     12               42                33
 14               Sweden      5               17                19
 15              Ukraine      2                7                26

    Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)  \
 0              51.9%            16.0%                          32
 1              41.9%            12.9%                          39
 2              50.0%            20.0%                          27
 3              50.0%            17.2%                          40
 4              37.9%             6.5%                          65
 5              47.8%            15.6%                          80
 6              30.7%            19.2%                          32
 7              43.0%             7.5%                         110
 8              25.0%             4.1%                          60
 9              39.4%             5.2%                          48
 10             34.3%             9.3%                          82
 11             36.8%             5.2%                          28
 12             22.5%            12.5%                          59
 13             55.9%            16.0%                         100
 14             47.2%            13.8%                          39
 15             21.2%             6.0%                          38

     Hit Woodwork  Penalty goals  Penalties not scored  ...  Saves made  \
 0              0              0                     0  ...          13
 1              0              0                     0  ...           9
 2              1              0                     0  ...          10
 3              0              0                     0  ...          22
 4              1              0                     0  ...           6
 5              2              1                     0  ...          10
 6              1              1                     1  ...          13
 7              2              0                     0  ...          20
 8              2              0                     0  ...          12
 9              0              0                     0  ...           6
 10             6              0                     0  ...          10
 11             0              0                     0  ...          17
 12             2              0                     0  ...          10
 13             0              1                     0  ...          15
 14             3              0                     0  ...           8
 15             0              0                     0  ...          13

     Saves-to-shots ratio  Fouls Won Fouls Conceded  Offsides  Yellow Cards  \
 0                  81.3%         41             62         2             9
 1                  60.1%         53             73         8             7
 2                  66.7%         25             38         8             4
 3                  88.1%         43             45         6             5
 4                  54.6%         36             51         5             6
 5                  62.6%         63             49        12             4
 6                  65.1%         67             48        12             9
 7                  74.1%        101             89        16            16
 8                  70.6%         35             30         3             5
 9                  66.7%         48             56         3             7
 10                 71.5%         73             90        10            12
 11                 65.4%         43             51        11             6
 12                 77.0%         34             43         4             6
 13                 93.8%        102             83        19            11
 14                 61.6%         35             51         7             7
 15                 76.5%         48             31         4             5

     Red Cards  Subs on  Subs off  Players Used
 0           0        9         9            16
 1           0       11        11            19
 2           0        7         7            15
 3           0       11        11            16
 4           0       11        11            19
 5           0       15        15            17
 6           1       12        12            20
 7           0       18        18            19
 8           0        7         7            15
 9           1        7         7            17
 10          0       14        14            16
 11          1       10        10            17
 12          0        7         7            16
 13          0       17        17            18
 14          0        9         9            18
 15          0        9         9            18

 [16 rows x 35 columns]>)

In [42]:
euro12.columns, euro12.shape

(Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
        'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
        'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
        'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
        'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
        'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
        'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
        'Offsides', 'Yellow Cards', 'Red Cards', 'Subs on', 'Subs off',
        'Players Used'],
       dtype='object'),
 (16, 35))

In [48]:
discipline = euro12[['Team','Yellow Cards','Red Cards']]
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

In [50]:
discipline.sort_values(['Red Cards', 'Yellow Cards'], ascending = False)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

In [51]:
round(discipline['Yellow Cards'].mean())

7

In [53]:
euro12[euro12.Goals>6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

In [54]:
euro12[euro12['Penalty goals']>=1]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

In [55]:
euro12[euro12['Hit Woodwork']>=1]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18

In [56]:
euro12[euro12.Team.str.startswith('G')]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

In [58]:
euro12.iloc[:,0:7]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

In [59]:
euro12.loc[euro12.Team.isin(['England', 'Italy', 'Russia']), ['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%